In [202]:
# library for mathematical functions and data preprocessing such as table, etc
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import skew

# Library for visualizing data
import matplotlib.pyplot as plt
import seaborn as sns

# Library for machine learning functions/algorithms
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score,  precision_score, recall_score, f1_score, roc_auc_score, roc_curve
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline

In [203]:
# data itself
url = 'lending_club_loan_two.csv'
# description of each column
url_info = 'lending_club_info.csv'
df_before = pd.read_csv(url)
df_info = pd.read_csv(url_info)
df_before.head()

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,10000.0,36 months,11.44,329.48,B,B4,Marketing,10+ years,RENT,117000.0,...,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,"0174 Michelle Gateway\nMendozaberg, OK 22690"
1,8000.0,36 months,11.99,265.68,B,B5,Credit analyst,4 years,MORTGAGE,65000.0,...,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,"1076 Carney Fort Apt. 347\nLoganmouth, SD 05113"
2,15600.0,36 months,10.49,506.97,B,B3,Statistician,< 1 year,RENT,43057.0,...,13.0,0.0,11987.0,92.2,26.0,f,INDIVIDUAL,0.0,0.0,"87025 Mark Dale Apt. 269\nNew Sabrina, WV 05113"
3,7200.0,36 months,6.49,220.65,A,A2,Client Advocate,6 years,RENT,54000.0,...,6.0,0.0,5472.0,21.5,13.0,f,INDIVIDUAL,0.0,0.0,"823 Reid Ford\nDelacruzside, MA 00813"
4,24375.0,60 months,17.27,609.33,C,C5,Destiny Management Inc.,9 years,MORTGAGE,55000.0,...,13.0,0.0,24584.0,69.8,43.0,f,INDIVIDUAL,1.0,0.0,"679 Luna Roads\nGreggshire, VA 11650"

In [204]:
df_before.isna().sum()

loan_amnt                   0
term                        0
int_rate                    0
installment                 0
grade                       0
sub_grade                   0
emp_title               22927
emp_length              18301
home_ownership              0
annual_inc                  0
verification_status         0
issue_d                     0
loan_status                 0
purpose                     0
title                    1756
dti                         0
earliest_cr_line            0
open_acc                    0
pub_rec                     0
revol_bal                   0
revol_util                276
total_acc                   0
initial_list_status         0
application_type            0
mort_acc                37795
pub_rec_bankruptcies      535
address                     0
dtype: int64

In [205]:
# label encoder and fit_transform is a function that changes/remap string into number based on alphabetical order
le = LabelEncoder() 
df_before['term'] = le.fit_transform(df_before['term'])
# 36 months = 0,  60 months = 1

df_before['emp_length'] = le.fit_transform(df_before['emp_length'])
# '1 year' = 0, '10+ years' = 1, '2 years' = 2, '3 years' = 3, '4 years' = 4, '5 years' = 5,   
# '6 years' = 6, '7 years' = 7, '8 years' = 8,  '9 years' = 9, '< 1 year' = 10

df_before['home_ownership'] = le.fit_transform(df_before['home_ownership'])
# 'ANY' = 0, 'MORTGAGE' = 1, 'NONE' = 2, 'OTHER' = 3, 'OWN' = 4, 'RENT' = 5

df_before['verification_status'] = le.fit_transform(df_before['verification_status'])
# 'Not Verified' = 0, 'Source Verified' = 1, 'Verified' = 2

df_before['application_type'] = le.fit_transform(df_before['application_type'])
# 'DIRECT_PAY' = 0, 'INDIVIDUAL' = 1, 'JOINT' = 2

df_before['grade'] = le.fit_transform(df_before['grade'])
df_before['sub_grade'] = le.fit_transform(df_before['sub_grade'])

# Assuming df is your DataFrame with 'issue_d' and 'earliest_cr_line' columns
# Replace df with your actual DataFrame name

# Create a new DataFrame for 'issue_d'
df_before_issue = df_before['issue_d'].str.split('-', expand=True)
df_before_issue.columns = ['issue_month', 'issue_year']

# Create a new DataFrame for 'earliest_cr_line'
df_before_cr_line = df_before['earliest_cr_line'].str.split('-', expand=True)
df_before_cr_line.columns = ['cr_line_month', 'cr_line_year']

# Concatenate the new DataFrames with the original DataFrame
df_before = pd.concat([df_before, df_before_issue, df_before_cr_line], axis=1)

# Drop the original 'issue_d' and 'earliest_cr_line' columns if needed
# df_before = df_before.drop(['issue_d', 'earliest_cr_line'], axis=1)

# Display the resulting DataFrame
df_before['cr_line_month'] = le.fit_transform(df_before['cr_line_month'])
df_before['issue_month'] = le.fit_transform(df_before['issue_month'])
df_before['initial_list_status'] = le.fit_transform(df_before['initial_list_status'])
df_before['purpose'] = le.fit_transform(df_before['purpose'])
# Convert interest rate and revolving utilization to decimals
df_before['int_rate'] = df_before['int_rate'] / 100.0
df_before['revol_util'] = df_before['revol_util'] / 100.0

In [206]:
df_before['emp_length'].fillna(df_before['emp_length'].median(), inplace=True)
df_before['pub_rec_bankruptcies'].fillna(df_before['pub_rec_bankruptcies'].median(), inplace=True)
df_before['mort_acc'].fillna(df_before['mort_acc'].median(), inplace=True)
df_before['revol_util'].fillna(df_before['revol_util'].mean(), inplace=True)

In [207]:
z_score_vars = ['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti', 'open_acc', 'revol_bal', 'total_acc']

no_outlier = df_before.copy()

# Store outlier counts and percentages for each column
outlier_info = {}

for col in z_score_vars:
    # Calculate lower and upper bounds using the 1st and 99th percentiles
    lower_limit = df_before[col].quantile(0.01)
    upper_limit = df_before[col].quantile(0.99)

    # Replace outliers with more reasonable values (clipping)
    no_outlier[col] = np.clip(df_before[col], lower_limit, upper_limit)

    # Count outliers before clipping
    outlier_count = ((df_before[col] < lower_limit) | (df_before[col] > upper_limit)).sum()
    total_count = len(df_before[col])
    outlier_percentage = outlier_count / total_count * 100

    # Store outlier information for the column
    outlier_info[col] = {'count': outlier_count, 'percentage': outlier_percentage}

# Print outlier information for each column
print("Outlier information:")
for col, info in outlier_info.items():
    print(f"- {col}: {info['count']} outliers ({info['percentage']:.2f}%)")

Outlier information:
- loan_amnt: 4089 outliers (1.03%)
- int_rate: 7823 outliers (1.98%)
- installment: 7916 outliers (2.00%)
- annual_inc: 7237 outliers (1.83%)
- dti: 7905 outliers (2.00%)
- open_acc: 5372 outliers (1.36%)
- revol_bal: 7918 outliers (2.00%)
- total_acc: 7553 outliers (1.91%)

In [208]:
# Reason:
# These features lack direct relevance to a person's ability to secure a loan. 
# grade and subgrade, summarizes the loan status, can be substituted with existing data like interest rates and annual income

columns_to_drop = ['emp_title', 'address', 'issue_d', 'title', 'earliest_cr_line','grade', 'sub_grade']
df_before = df_before.drop(columns=columns_to_drop)

In [209]:
df_before.isna().sum()

loan_amnt               0
term                    0
int_rate                0
installment             0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
loan_status             0
purpose                 0
dti                     0
open_acc                0
pub_rec                 0
revol_bal               0
revol_util              0
total_acc               0
initial_list_status     0
application_type        0
mort_acc                0
pub_rec_bankruptcies    0
issue_month             0
issue_year              0
cr_line_month           0
cr_line_year            0
dtype: int64

In [210]:
# Check which column needs fixing
for column in df_before.columns:
    unique_values = df_before[column].unique()
    print(f"Unique values in '{column}':")
    print(unique_values)
    print()

Unique values in 'loan_amnt':
[10000.  8000. 15600. ... 36275. 36475.   725.]

Unique values in 'term':
[0 1]

Unique values in 'int_rate':
[0.1144 0.1199 0.1049 0.0649 0.1727 0.1333 0.0532 0.1114 0.1099 0.1629
 0.1311 0.1464 0.0917 0.1229 0.0662 0.0839 0.2198 0.079  0.0697 0.0699
 0.1561 0.1136 0.1335 0.1212 0.0999 0.0819 0.1875 0.0603 0.1499 0.1678
 0.1367 0.1398 0.1699 0.1991 0.1786 0.2149 0.1299 0.1854 0.0789 0.171
 0.1825 0.1167 0.0624 0.0818 0.1235 0.1416 0.1756 0.1855 0.2215 0.1039
 0.1599 0.1607 0.2499 0.0967 0.1919 0.21   0.1269 0.1074 0.0668 0.1922
 0.1149 0.1655 0.1997 0.247  0.1349 0.1824 0.1649 0.2578 0.2583 0.1864
 0.0751 0.1399 0.1522 0.1531 0.0769 0.1953 0.1016 0.0762 0.0975 0.1368
 0.1588 0.1465 0.0692 0.2383 0.1075 0.1849 0.2031 0.1757 0.2731 0.1999
 0.2299 0.1259 0.1037 0.1433 0.1353 0.2245 0.245  0.1799 0.0916 0.1249
 0.1155 0.1776 0.2899 0.231  0.2049 0.227  0.1015 0.0689 0.1952 0.089
 0.143  0.0949 0.2599 0.2408 0.1305 0.1498 0.1659 0.1126 0.2589 0.1448
 0.2199 0.2399 0.0599 0.1447 0.1153 0.0867 0.0859 0.1064 0.2328 0.2544
 0.0971 0.162  0.1924 0.2411 0.158  0.1596 0.1449 0.1899 0.0579 0.1929
 0.1454 0.1409 0.0925 0.1905 0.1777 0.1892 0.2075 0.1065 0.1885 0.1059
 0.1285 0.1139 0.1365 0.1306 0.0712 0.2099 0.1361 0.1273 0.1446 0.1624
 0.2549 0.0739 0.1078 0.208  0.0788 0.1595 0.1239 0.2118 0.2197 0.1577
 0.0639 0.1    0.1253 0.1343 0.0749 0.2557 0.2148 0.1839 0.1147 0.0726
 0.1568 0.1904 0.1431 0.2424 0.0542 0.2343 0.1947 0.0654 0.2332 0.1758
 0.1472 0.0766 0.0976 0.1323 0.1348 0.1242 0.098  0.1171 0.1427 0.2115
 0.2295 0.0849 0.1774 0.1559 0.1372 0.0945 0.0729 0.151  0.1186 0.1972
 0.1435 0.1122 0.1562 0.1581 0.1241 0.2867 0.1148 0.1366 0.0991 0.2376
 0.1714 0.1884 0.1223 0.0617 0.0894 0.1422 0.1903 0.2529 0.0899 0.0988
 0.1558 0.2749 0.0807 0.2247 0.192  0.1344 0.224  0.1279 0.182  0.1318
 0.0724 0.1484 0.0593 0.1528 0.1385 0.2528 0.08   0.0962 0.1205 0.157
 0.202  0.1357 0.2167 0.074  0.258  0.1268 0.1183 0.0737 0.1111 0.1485
 0.16   0.1112 0.2363 0.06   0.0799 0.0791 0.1483 0.217  0.2606 0.1677
 0.2734 0.1221 0.0768 0.1527 0.1969 0.0963 0.0714 0.205  0.1602 0.1284
 0.0774 0.1533 0.1979 0.222  0.1862 0.1749 0.1689 0.1521 0.1479 0.1867
 0.0932 0.1541 0.1565 0.235  0.229  0.1134 0.2211 0.1948 0.1475 0.2814
 0.1322 0.234  0.2313 0.2818 0.1288 0.2206 0.2449 0.1645 0.216  0.2849
 0.0838 0.0676 0.1083 0.1379 0.0888 0.1788 0.1797 0.1426 0.0691 0.1347
 0.086  0.2788 0.0863 0.1025 0.1491 0.1274 0.1096 0.2588 0.0743 0.164
 0.2025 0.2489 0.1287 0.2016 0.1417 0.1218 0.1751 0.1392 0.2053 0.2677
 0.1062 0.2649 0.1632 0.1261 0.2136 0.1461 0.1537 0.203  0.1459 0.167
 0.1989 0.1095 0.1817 0.1821 0.1793 0.2239 0.2483 0.138  0.1942 0.237
 0.0759 0.1317 0.1809 0.1304 0.2569 0.0907 0.1523 0.1442 0.2333 0.1669
 0.1036 0.1496 0.1038 0.2624 0.242  0.1298 0.2085 0.1336 0.2657 0.2352
 0.2278 0.1316 0.1513 0.2511 0.1355 0.1051 0.1178 0.0705 0.1146 0.2128
 0.1209 0.1635 0.087  0.2699 0.1411 0.2614 0.1682 0.2326 0.1879 0.1028
 0.1936 0.183  0.1706 0.1719 0.0775 0.1734 0.2089 0.2235 0.1966 0.1362
 0.2274 0.1189 0.2359 0.0824 0.2062 0.1197 0.152  0.2048 0.1236 0.1071
 0.2509 0.2011 0.2779 0.2949 0.1158 0.1913 0.1166 0.1375 0.3074 0.0938
 0.2799 0.1159 0.0964 0.2565 0.0996 0.1941 0.1418 0.1008 0.1743 0.2474
 0.1474 0.1704 0.1557 0.3049 0.178  0.1091 0.1482 0.2996 0.1292 0.1222
 0.1545 0.1172 0.102  0.147  0.2069 0.1505 0.2433 0.1493 0.1033 0.1695
 0.2888 0.1103 0.2834 0.2122 0.1807 0.0933 0.1217 0.1974 0.209  0.2003
 0.1739 0.2967 0.1204 0.2322 0.1001 0.2248 0.2476 0.133  0.2077 0.1014
 0.145  0.3094 0.0832 0.1324 0.2159 0.2127 0.2452 0.1154 0.1046 0.1387
 0.3099 0.0951 0.0983 0.1939 0.1286 0.3079 0.2174 0.1109 0.1611 0.1726
 0.2285 0.1891 0.1843 0.092  0.2114 0.1262 0.2121 0.2999 0.1488 0.1312
 0.3089 0.1608 0.1254 0.2869 0.128  0.1128 0.2391 0.2294 0.1916 0.2086
 0.1163 0.1982 0.1141 0.2182 0.1272 0.204  0.097  0.1872 0.1836 0.1425
 0.1384 0.1878 0.1715 0.1525 0.1663 0.1615 0.1191 0.1407 0.0901 0.1501
 0.2164 0.1583 0.1853 0.0742 0.1267 0.1576 0.1633 0.3084 0.1393 0.1412
 0.1428 0.2017 0.2459 0.2052 0.1703 0.179  0.1467 0.1538 0.1746 0.1462
 0.1438 0.244  0.2264 0.1754 0.1744 0.1507]

Unique values in 'installment':
[329.48 265.68 506.97 ... 343.14 118.13 572.44]

Unique values in 'emp_length':
[ 1  4 10  6  9  2  3  8  7  5  0 11]

Unique values in 'home_ownership':
[5 1 4 3 2 0]

Unique values in 'annual_inc':
[117000.    65000.    43057.   ...  36111.    47212.    31789.88]

Unique values in 'verification_status':
[0 1 2]

Unique values in 'loan_status':
['Fully Paid' 'Charged Off']

Unique values in 'purpose':
[12  2  1  4 11  6  9  7 13  0  8  5  3 10]

Unique values in 'dti':
[26.24 22.05 12.79 ... 40.56 47.09 55.53]

Unique values in 'open_acc':
[16. 17. 13.  6.  8. 11.  5. 30.  9. 15. 12. 10. 18.  7.  4. 14. 20. 19.
 21. 23.  3. 26. 42. 22. 25. 28.  2. 34. 24. 27. 31. 32. 33.  1. 29. 36.
 40. 35. 37. 41. 44. 39. 49. 48. 38. 51. 50. 43. 46.  0. 47. 57. 53. 58.
 52. 54. 45. 90. 56. 55. 76.]

Unique values in 'pub_rec':
[ 0.  1.  2.  3.  4.  6.  5.  8.  9. 10. 11.  7. 19. 13. 40. 17. 86. 12.
 24. 15.]

Unique values in 'revol_bal':
[ 36369.  20131.  11987. ...  34531. 151912.  29244.]

Unique values in 'revol_util':
[0.418  0.533  0.922  ... 0.5626 1.114  1.281 ]

Unique values in 'total_acc':
[ 25.  27.  26.  13.  43.  23.  15.  40.  37.  61.  35.  22.  20.  36.
  38.   7.  18.  10.  17.  29.  16.  21.  34.   9.  14.  59.  41.  19.
  12.  30.  56.  24.  28.   8.  52.  31.  44.  39.  50.  11.  62.  32.
   5.  33.  46.  42.   6.  49.  45.  57.  48.  67.  47.  51.  58.   3.
  55.  63.  53.   4.  71.  69.  54.  64.  81.  72.  60.  68.  65.  73.
  78.  84.   2.  76.  75.  79.  87.  77. 104.  89.  70. 105.  97.  66.
 108.  74.  80.  82.  91.  93. 106.  90.  85.  88.  83. 111.  86. 101.
 135.  92.  94.  95.  99. 102. 129. 110. 124. 151. 107. 118. 150. 115.
 117.  96.  98. 100. 116. 103.]

Unique values in 'initial_list_status':
[1 0]

Unique values in 'application_type':
[1 2 0]

Unique values in 'mort_acc':
[ 0.  3.  1.  4.  2.  6.  5. 10.  7. 12. 11.  8.  9. 13. 14. 22. 34. 15.
 25. 19. 16. 17. 32. 18. 24. 21. 20. 31. 28. 30. 23. 26. 27.]

Unique values in 'pub_rec_bankruptcies':
[0. 1. 2. 3. 4. 5. 6. 7. 8.]

Unique values in 'issue_month':
[ 4  9  0 11 10  6  8  2  5  3  7  1]

Unique values in 'issue_year':
['2015' '2014' '2013' '2012' '2016' '2011' '2010' '2008' '2009' '2007']

Unique values in 'cr_line_month':
[ 6  5  1 11  7  4  2  8  0 10  3  9]

Unique values in 'cr_line_year':
['1990' '2004' '2007' '2006' '1999' '2005' '1994' '1997' '1984' '1995'
 '2001' '1982' '1996' '2000' '2003' '2008' '1998' '2002' '2009' '1992'
 '1988' '2010' '1986' '2012' '1978' '1993' '1983' '1989' '1991' '2011'
 '1980' '1981' '1987' '1985' '1967' '1972' '1969' '1979' '1965' '1977'
 '1974' '1976' '1975' '1971' '2013' '1964' '1970' '1973' '1963' '1960'
 '1966' '1961' '1968' '1958' '1955' '1953' '1959' '1962' '1944' '1956'
 '1951' '1957' '1950' '1954' '1948']

## Random Forest Classification (Model Generation)

In [211]:
#  SPLIT
target_column = 'loan_status'
feature_columns = df_before.columns[df_before.columns != target_column]

X = df_before[feature_columns]
y = df_before[target_column]

In [212]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [213]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import SMOTE
# Random Undersampling

undersampler = RandomUnderSampler(sampling_strategy=0.5, random_state=42)
X_under, y_under = undersampler.fit_resample(X_train, y_train)

oversampler = RandomOverSampler(sampling_strategy=1, random_state=42)
X_over, y_over = oversampler.fit_resample(X_under, y_under)

In [214]:
data_counts = y_train.value_counts()
print(data_counts)

loan_status
Fully Paid     254546
Charged Off     62278
Name: count, dtype: int64

In [215]:
data = y_over.value_counts()
print(data)

loan_status
Charged Off    124556
Fully Paid     124556
Name: count, dtype: int64

In [223]:
# Create a cost-sensitive random forest classifier
clf = RandomForestClassifier(n_estimators=83, bootstrap=True, criterion='gini', max_depth=None,random_state=0)

# Train the classifier on the training set
clf.fit(X_over, y_over)


# Make predictions on the test set
y_pred_test = clf.predict(X_test)

# Evaluate the accuracy on the test set
accuracy_test = accuracy_score(y_test, y_pred_test)
print(f'Test Accuracy: {accuracy_test}')

Test Accuracy: 0.7536297755220565

In [226]:
cm = confusion_matrix(y_test, y_pred_test)
print("Confusion Matrix\n", cm)

Confusion Matrix
 [[ 6714  8681]
 [10833 52978]]

In [227]:
target_names = ['Charged Off', 'Fully Paid']
print(classification_report(y_test, y_pred_test, target_names=target_names))

              precision    recall  f1-score   support

 Charged Off       0.38      0.44      0.41     15395
  Fully Paid       0.86      0.83      0.84     63811

    accuracy                           0.75     79206
   macro avg       0.62      0.63      0.63     79206
weighted avg       0.77      0.75      0.76     79206

In [219]:
TN, FP, FN, TP = cm.ravel()

accuracy = accuracy_score(y_test, y_pred_test)
print("Accuracy:", accuracy)

# pos_label = 'Charged Off'
pos_label = 'Fully Paid'
precision = precision_score(y_test, y_pred_test, pos_label=pos_label)
print("Precision:", precision)

recall = recall_score(y_test, y_pred_test, pos_label=pos_label)
print("Recall:", recall)

specificity = TN / (TN + FP)
print("Specificity:", specificity)

f1 = f1_score(y_test, y_pred_test, pos_label=pos_label)
print("F1 Score:", f1)

Accuracy: 0.7514455975557407
Precision: 0.8605019771887971
Recall: 0.8252652364012474
Specificity: 0.4454693082169536
F1 Score: 0.8425153388955995

In [220]:
# Assuming you have the predicted probabilities for the positive class
y_prob_test = clf.predict_proba(X_test)[:, 1]

# Calculate AUC score
auc_score = roc_auc_score(y_test, y_prob_test)
print("AUC Score:", auc_score)

AUC Score: 0.7159246480511381

In [221]:
feature_importances = clf.feature_importances_
feature_importance_df = pd.DataFrame({
    'Feature': X_over.columns,
    'Importance': feature_importances
})
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)

feature_importance_df

                 Feature  Importance
2               int_rate    0.119435
9                    dti    0.085017
13            revol_util    0.075270
12             revol_bal    0.073645
6             annual_inc    0.071664
3            installment    0.069121
14             total_acc    0.058517
0              loan_amnt    0.055118
22          cr_line_year    0.054085
10              open_acc    0.048910
21         cr_line_month    0.043991
19           issue_month    0.043328
4             emp_length    0.039825
20            issue_year    0.033752
17              mort_acc    0.027238
8                purpose    0.023618
1                   term    0.022282
7    verification_status    0.016964
5         home_ownership    0.013470
15   initial_list_status    0.010021
11               pub_rec    0.008389
18  pub_rec_bankruptcies    0.006107
16      application_type    0.000234